html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #ffffff url('../img/geometry2.png'); /* Background pattern from Subtle Patterns */
    font-family: 'Coda', cursive;
}

.container {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

@media screen and (max-width: 400px) 
{
    .container
    {
        transform: scale(0.4);
    
    }
    h1
    {
        font-size: 12vw;
    }
    .score-panel
    {  
        font-size: 8vw;
    }

}
@media screen and (min-width: 401px) and (max-width: 750px)
{
    .container
    {
         transform: scale(0.6);
    }
    h1
    {
        font-size: 13vw;
    }
    .score-panel
    {  
        font-size: 3.5vw;
    }
}

/*
 * Styles for the deck of cards
 */

.deck {
    width: 660px;
    min-height: 680px;
    background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
    padding: 32px;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 3em;
}

.deck .card {
    height: 125px;
    width: 125px;
    background: #2e3d49;
    font-size: 0;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}

.deck .card.open {
    transform: rotateY(180deg);
    background: #02b3e4;
    cursor: default;
}

.deck .card.show {
    font-size: 33px;
}

.deck .card.match {
    cursor: default;
    background: #02ccba;
    font-size: 33px;
}


/*
 * Styles for the Score Panel
 */

.score-panel {
    text-align: left;
    width: 345px;
    margin-bottom: 10px;
}

.score-panel .stars {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 0;
}

.score-panel .stars li {
    list-style: none;
    display: inline-block;
}

.score-panel .restart {
    float: right;
    cursor: pointer;
    
    
}
.score-panel .timer {
    float: right;
    margin-right: 0px ;
    font-family: 'Coda', cursive;
   
     
}
.score{
   text-align: center;
    position: absolute;
    
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    right:0;
    width: 100%;
    height: 150%;
    top: 0;
    border: 3px solid blue;
    height: 120%;
    background: black;
    z-index: 100000;
    color: #ffff;
    visibility:hidden;
    opacity: .9;

}

.score button {
    border-radius: 5px;
    height: 50px;
    cursor: pointer;
    margin: 25px;
    font-weight: bold;
    color: #fff;
    background: #27aee8;
}
.score .score-title {

    margin-top: 5em;
}
h2{
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    text-align: center;
}
